<div class="items-container">
  <mat-card *ngFor="let item of items" id="{{item.id}}" class="category-item">
    <mat-card-title class="item-title">{{ item.name }}</mat-card-title>
    <mat-card-subtitle class="item-price">{{ item.value | price }}</mat-card-subtitle>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngIf="item.description || item.note">
          <span matLine *ngIf="item.description" class="item-description text-wrap">{{ item.description.join(', ') }}</span>
          <span matLine *ngIf="item.note" class="item-note text-wrap">{{ item.note }}</span>
        </mat-list-item>
        <!--<mat-divider *ngIf="item.description || item.note"></mat-divider>-->
        <mat-list-item>
          <span matLine>Commercial Source</span>
          <span matLine class="item-commercial"><a
            href="{{item.commercialSource}}">{{ item.commercialSource }}</a></span>
        </mat-list-item>
        <mat-list-item *ngIf="item.probableSource">
          <span matLine>Probable Source</span>
          <span matLine class="item-probable">{{ item.probableSource }}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions *ngIf="!isItemSelected(item)">
      <button mat-button (click)="onItemSelected(item.id)" class="item-select">SELECT</button>
    </mat-card-actions>
  </mat-card>
</div>
