.wrapper {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "content"
    "order-total";
}

.wrapper, .side-nav {
  transition: .2s margin ease;
}

.foo.active .wrapper:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #4e4e4e;
}


.menu-container {
  grid-area: menu;
  width: 100%;
  display: block;
  border-bottom: 1px solid black;
}

.order-total-container {
  grid-area: order-total;
  width: 100%;
  display: block;
  border-top: 1px solid black;
}

@media (max-width: 500px) {
  .catalog-nav {
    display: none;
  }

  .order {
    display: none;
  }

  .side-nav {
    float: left;
    margin-left: -100%;
    width: 300px;
    z-index: 2;
  }

  .foo.active .side-nav {
    margin-left: 0;
  }

  .foo.active .wrapper {
    margin-right: -100%;
  }
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(2, 50vw);
    grid-template-areas:
      "header header"
      "nav content"
      "nav content"
      "order-total order-total"
  }

  .menu-container {
    display: none;
  }

  .catalog-nav {
    display: block;
  }

  .order {
    display: none;
  }

  .column-element {
    height: 71vh !important;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: repeat(3, 33.3vw);
    grid-template-areas:
      "header header  header"
      "nav    content order"
      "nav    content order"
  }

  .menu-container {
    display: none;
  }

  .order {
    display: block;
  }

  .order-total-container {
    display: none;
  }

  .column-element {
    height: 93vh !important;
  }
}

.data-calc {
  height: 93vh;
  max-width: 1500px;
}

.column-element {
  // height: 100%;
  height: 64vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.main-container {
  display: flex;
  justify-content: center;
}

.header {
  grid-area: header;
  width: 100%;
}
.catalog-items {
  grid-area: content;
}
.catalog-nav {
  grid-area: nav;
}
.order {
  grid-area: order;
}

